.skillsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #010110;
  box-shadow: 0px 4px 6px white;
  border-radius: 0 0 5px 5px;
}
.skillsContainer li {
  font-size: 1rem;
  list-style-type: none;
  padding: 5px 10px;
  width: 90%;
  margin: 10px 5px;
  border-radius: 3px;
  background-color: #ddd;
  /* border: 2px solid #ddd; */

  color: black;
  cursor: pointer;
}
.skillsContainer li:hover {
  background-color: #f2f2f2;
  color: black;
  box-sizing: border-box;
  /* border: 2px solid rgb(76, 71, 71); */
}

@media (min-width: 750px) {
  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
  .skillsContainer li {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(33.3%, auto));
  }
}

.list span {
  display: inline-block;
  transition: transform 200ms;
}

@media (hover: hover) and (pointer: fine) {
  .list:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .list:hover span {
    transform: none;
  }
}
