.mcqContainer {
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 2px #010113;
}

.img {
  width: 100%;
  padding: 20px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.mcqContainer ul {
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.question {
  /* background-color: red; */
  color: #1f3352;
}
.mcqContainer li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nonSelect:hover {
  background-color: #e0e0e0;
}

.selected,
.selected:hover {
  background-color: lightblue;
}
.deafaultAns,
.deafaultAns:hover {
  cursor: not-allowed;
  background-color: rgb(74, 225, 74);
}
.correct,
.correct:hover {
  cursor: not-allowed;
  background-color: lightblue;
}
.wrong,
.wrong:hover {
  cursor: not-allowed;
  background-color: rgb(234, 74, 74);
}

.resetPointer:hover {
  cursor: not-allowed;
}
.scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.quiz {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.scrollToTopButton.visible {
  display: block;
}
.quiz:hover,
.select:hover,
.timeString:hover,
.scrollToTopButton:hover {
  background-color: #89bef6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.select {
  position: fixed;
  top: 60px;
  right: 20px;
  padding: 10px;
  background-color: rgb(53, 47, 66);
  color: #fff;
  border: none;
  border-radius: 5px;
  /* cursor: pointer; */
}
.timeString {
  position: fixed;
  top: 60px;
  left: 20px;
  padding: 10px;
  background-color: rgb(53, 47, 66);
  color: #fff;
  border: none;
  border-radius: 5px;
  /* cursor: pointer; */
}
.btn {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #284679;
}
.btn button,
.headString button {
  cursor: pointer;
  margin: 5px;
  padding: 5px 20px;
  font-size: 20px;
  color: white;
  background-color: #284679;
  border: 1px solid white;
  border-radius: 5px;
}
.btn button {
  background-color: #0b203e;
}
.headString button:hover,
.btn button:hover {
  background-color: rgb(62, 64, 98);
}
@media (max-width: 500) {
  .btn {
    padding: 5px;
  }
}
.headString {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f3352;
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px white;
}
.headString h3 {
  margin: 5px;
}
.headString span {
  padding: 2px 5px;
  border-radius: 3px;
  background-color: black;
}

.ans {
  position: relative;
  top: -15px;
  right: 1px;
  text-align: right;
  /* background-color: blueviolet; */
}
.ans span {
  background-color: #555;
  color: white;
  border: 1px solid darkgray;
}
