/* styles/Home.module.css */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* background-color: #f0f0f0; */
}

.logo i {
  cursor: pointer;
  font-size: 50px;
  color: #fff; /* Standard color for the logo */
}

.links {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  padding: 5px;
  margin: 0 20px;
  font-size: 20px;
  text-decoration: none;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, white, #08b8be9f);
}
.link:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.IconContainear {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.socialMedia {
  display: flex;
  gap: 30px;
}

.Img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Img:hover {
  transform: translateY(-5px);
}

.socialMedia i {
  font-size: 30px;
}

/* Official colors for social media icons */
.faFacebook {
  color: #0871fb;
  background-color: white;
  border-radius: 50%;
}

.faInstagram {
  color: #bc2a8d;
}

.faYoutube {
  color: #ff0000;
}
.faFacebook:hover {
  color: #86aee3;
}
.faInstagram:hover {
  color: #eabbdb;
}
.faYoutube:hover {
  color: #bb4e4e;
}

/* Media Queries for Responsive Design */
.footer {
  width: 100vw;
  text-align: center;
  padding: 20px;
  background-color: #333;
  background-image: linear-gradient(90deg, white, #2b25dc9f);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .links {
    margin: 0;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .link {
    font-size: 1rem;
    margin: 2px;
  }
  .IconContainear {
    gap: 10px;
    margin-top: 15px;
  }
  .footer {
    padding: 10px;
    font-size: 1rem;
  }
}
